@page "/posts/{id:int}"
@using System.Security.Claims
@using ApiContracts
@using BlazorApp.Services
@inject IPostsService PostsService
@inject IUsersService UsersService
@inject ICommentsService CommentsService
@inject NavigationManager NavigationManager

<PageTitle>@Title</PageTitle>

<h3>@Title</h3>
<i>Written by: @Author</i>

<hr/>
<p>@Body</p>
<hr/>

<h4>Comments</h4>
<AuthorizeView>
    <Authorized>
        <input @bind="Comment"/>
        <button class="btn btn-primary" @onclick="CreateComment">Post comment</button>
    </Authorized>
</AuthorizeView>

@foreach(CommentDTO comment in CommentsService.GetCommentsFromPost(Id)){
    <p class="mt-4"><b>@GetUsername(comment.UserId):</b> @comment.Body</p>
}

@code {
    public string Comment{ get; set; }
    
    [Parameter]
    public int Id{ get; set; }
    public string Title{ get; set; }
    public string Author{ get; set; }
    public string Body{ get; set; }
    protected override async Task OnParametersSetAsync(){
        PostDTO post = await PostsService.GetSinglePostAsync(Id);
        Title = post.Title;
        Author = GetUsername(post.UserId);
        Body = post.Body;
    }
    
    [CascadingParameter] public Task<AuthenticationState> State{ get; set; }
    private bool isLoggedIn;
    private int userId;
    protected override async Task OnInitializedAsync(){
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;
        if (claimsPrincipal.Identity == null || !claimsPrincipal.Identity.IsAuthenticated){
            isLoggedIn = false;
        } else{
            isLoggedIn = true;
            IEnumerable<Claim> claims = claimsPrincipal.Claims;
            string userIdString = claims.Single(c => c.Type == "Id").Value;
            userId = int.Parse(userIdString);
        }
    }

    private void CreateComment(){
        if (!isLoggedIn) return;
        CommentsService.AddCommentAsync(new CommentDTO(){
            Body = Comment,
            PostId = Id,
            UserId = userId
        });
        Comment = "";
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
    
    public string GetUsername(int userId){
        // This hangs unless you wrap it in Task.run()... idk why
        UserDTO user = Task.Run(() => UsersService.GetSingleUserAsync(userId)).Result;
        return user.Username;
    }
}